<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="title">Simple Calculator</div>
    <div class="main">
      <form method="POST">
        {% csrf_token %}
        <label class="textBorder" for="num1">Number 1:</label>
        <input type="number" name="num1" id="num1" style="width: 100px">
        <br>
        <label class="textBorder" for="num2">Number 2:</label>
        <input type="number" name="num2" id="num2" style="width: 100px">
        <br>
        <label class="textBorder" for="operation">Operation:</label>
        <select name="operation" id="operation">
          <option value="add">Addition</option>
          <option value="subtract">Subtraction</option>
          <option value="multiply">Multiplication</option>
          <option value="divide">Division</option>
        </select>
        <br>
        <button type="submit">Calculate</button>
      </form>
    </div>
    <div class="result">
        Result: {{ result }}
    </div>
  </body>
</html>